.nav-about{
position: fixed;
width: 90%;
top: 15%;
left: 21%;
margin-top: -100px;
margin-left: -250px;
background-color: white;
}

.bg-about{
background: #AEBAF8;
}

.block{
position: absolute;
width: 500px;
height: 617px;
left: 4.8%;
top: 103px;
background-color: white;
}

.block2{
position: absolute;
width: 870px;
height: 617px;
left: 38%;
top: 103px;
background-color: white;
}

body{
font-family: 'Trebuchet MS', sans-serif;
}

.a{
text-align: left;
padding: 20px;
}

.p-col{
text-align: left;
text-align: justify;
padding-left: 20px;
padding-right: 20px;
}

.img-founder{
float: left;
padding-left: 50px;
padding-right: 50px;
width: 600px;
height: 470px;
}

.founder-text{
text-align: right;
font-size: 100px;
}