.img{
    /* background-image: url(https://img.freepik.com/free-vector/illustration-user-avatar-icon_53876-5907.jpg?t=st=1653298875~exp=1653299475~hmac=3ec9143a32cc5d13d73e1a313eca1662329f8477c0443dfdbd27921214db4061&w=740); */
    background-color: #E8AEAE;
    background-size: cover;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 5px solid #E8AEAE;
}

.inf-show{
    width: 100px;
    height: fit-content;
    margin: 0 auto;
    display: block;
    float: left;
}

.decline-text{
    color: red;
}
.decline-text:hover{
    color: rgb(201, 110, 50);
}

.participant{
    width: 100%;
    height: fit-content;
    display: block;
    clear: both;
}

.big-img{
    background-color: #E8AEAE;
    background-size: cover;
    border-radius: 300px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border: 5px solid #E8AEAE;
}